<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录页面</title>

  <!-- Bootstrap -->
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
  <script src="../lib/js/bootstrap.min.js"></script>
  <!-- jQuery-->
  <script src="../lib/js/jquery-1.12.4.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style>
        .login-panel{
          margin-top: 120px;
        }

        .codeImg{
          height: 34px;
          cursor: pointer;
        }
      </style>
</head>

<body>
    <!-- 栅格布局 -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- 真正写东西的地方 -->
          <!-- 面板 -->
          <div class="panel panel-default panel-primary login-panel">
            <div class="panel-heading ">登录学生管理系统</div>
            <div class="panel-body">
              <!-- 表单 -->
              <form class="form-horizontal">
                  <div class="form-group">
                    <label for="urerName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                      <input type="text" name="urerName" class="form-control" id="urerName" placeholder="请输入用户名">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="userPass" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                      <input type="password" name="userPass" class="form-control" id="userPass" placeholder="请输入密码">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="code" class="col-sm-2 control-label">验证码</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="code" placeholder="请输入验证码">           
                      </div>
                      <div class="col-sm-4">
                          <img class="codeImg" src="/login/captchaImg" alt="">          
                        </div>
                    </div>
                  <!-- 按钮 -->
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">登陆</button>
                      <button type="submit" class="btn btn-danger">注册</button>                      
                    </div>
                  </div>
                 
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   
</body>

</html>

<script>
    //入口函数
    $(function(){
       $('.codeImg').click(function(){
          //  console.log("点中啦");
          //重新获取验证码图片
          //重新赋值 src属性即可 
          //问号后面的浏览器都会认为是数据
          $(this).attr('src',$(this).attr('src')+`?${Math.random()}`)
       })
    })
</script>

